@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

*, body {
    margin: 0;
    padding: 0; 
}

body {
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px
}

h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.p-highlight {
    color: #0B558C;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

section {
    margin-top: 32px;
}

.s-title {
    font-size: 28px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0.16em;
    color: #414042;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 20px;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 32px;
    border: 2px #000 solid;
    border-radius: 100px;
}

.back:hover {
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.case-header {
    margin-top: 32px;
    margin-left: 40px;
}

.specs {
    margin-top: 32px;
    display: flex;
    gap: 120px;
}

.s-value{
font-size: 12px;
font-weight: 600;
line-height: 14px;
letter-spacing: 0.16em;
text-transform: uppercase;
}

.logo-text{
    font-size: 8px;
}

main{
    margin: 16px 40px;
}

.intro-p {
    /* margin-bottom: 32px; */
}

.learned-things {
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    list-style-type: none;
}

.banner {
    margin-left: -40px;
    margin-top: 40px;
    width: 100vw;
    height: 400px;
    background: #414042;
}

.problem-banners {
    display: flex;
    justify-content: space-between;
}

.problem-banner {
    width: 643px;
    height: 380px;
    background: #D9D9D9;
    border-radius: 8px;
}

.solution-metrics {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.solution-metric {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution-img {
    padding: 10px;
    width: 83px;
    background: #646464;
    border-radius: 25px;
}

.s-i {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
}

.solution-text {
    width: 232px;
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.process-diagram {
    width: 100%;
}