@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

:root {
    --text-color: #373530;
    --background-color: #f5f8f8;
    --link-color: #306F91;
}

*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.info-title {
    margin-bottom: 16px;
}

.info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.h-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.email {
    font-size: 18px;
}

.quote {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 24px;
    border-bottom: 4px var(--text-color) solid;
}

.skills-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--text-color);
}

.skill {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.att-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.att-link:hover {
    font-size: 18px;
    color: var(--link-color);
}

.sm-link {
    font-size: 40px;
    color: var(--text-color);
    margin-right: 16px;
}

.sm-link:hover {
    color: var(--link-color);
}

ul {
    list-style-type: none;
    padding: 8px;
}

nav{
    /* position: fixed;
    bottom: 20px;
    right: 40vw; */
    display: flex;
    justify-content: center;
}

.nav-i {
    color: var(--text-color);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 16px;
    /* border-bottom: 2px #D0D1D3 solid; */
    cursor: pointer;
}

.nav-i:hover {
    border-bottom: 2px #919192 solid;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.selected-nav-i {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 16px;
    border-bottom: 4px var(--text-color) solid;
    /* border-bottom: 2px #000 solid; */
}

.nav-items {
    display: flex;
    gap: 32px;
    width: fit-content;
    padding: 8px 16px;
    background-color: var(--background-color);
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

select {
    border: none;
}

.whole {
    margin-top: 40px;
    display: flex;
    gap: 64px;
    padding: 0 40px;
    max-width: 1640px;
    /* max-height: 1000px; */
}

header {
    width: 85%;
}

.main-content {
    display: flex;
    gap: 43px;
}

.about-text {
    margin-top: 40px;
    padding-bottom: 32px;
    border-bottom: 4px var(--text-color) solid;
}

.main-info {
    width: 80%;
}

.info-item {
    margin-bottom: 32px;
    padding-right: 16px;
}

.skills {
    padding: 0 0 16px 024px;
    border-left: 4px var(--text-color) solid;
    height: 95%;
}

.skills-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pd-list {
    margin-bottom: 16px;
}


/* work content */

.work-content {
    display: none;
    flex-direction: column;
    gap: 16px;
    /* justify-content: space-between; */
    padding-left: 24px;
    border-left: 4px var(--text-color) solid;
    margin-bottom: 4.5vh;
}

.case-study {
    display: flex;
    padding: 10px;
}

.case-study:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.cs-img {
    width: 400px;
    height: 140px;
    background: #D9D9D9;
    margin-right: 40px;
}

.thumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cs-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.cs-role {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

.cs-s {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

.cs-header {
    margin-bottom: 16px;
}

.cs-text {
    margin-bottom: 16px;
}

.cs-skills {
    display: flex;
    gap: 16px;
}

/* big screens */
@media (min-width: 1900px) {
    body {
        margin-top: 15vh;
    }

    .work-content {
        margin-bottom: 3.7vh;
    }
}

/* tablet */
@media (max-width: 1300px) {

    nav {
        position: fixed;
        left: 36vw;
        bottom: 20px;
        border: 1px #b7b7b7 solid;
        border-radius: 8px;
    }

    .whole {
        display: block;
        padding: 0 40px;
    /* max-height: 1000px; */
    }

    header {
        margin-bottom: 24px;
        width: 100%;
    }

    .main-info {
        width: 110%;
        margin-bottom: 80px;
    }

    body {
        display: block;
        font-family: 'Montserrat', sans-serif;
    }

    .work-content {
        margin-bottom: 140px;
        border-left: none;
    }
}

@media (max-width: 900px) {

    nav {
        left: 19vw;
    }

    .whole {
        padding: 0 24px;
        max-width: 1640px;
        /* max-height: 1000px; */
    }

    .main-content {
        display: block; 
        margin-bottom: 100px;
    }

    .skills {
        padding: 0;
        border-left: none;
        height: 100%;
        margin-top: -20px;
    }

    .main-info {
        margin-bottom: 24px;
    }

    .case-study {
        display: block;
    }

    .work-content {
        flex-direction: block;
        padding-left: 0;
    }

    .case-study {
        padding: 16px 0;
    }

    .cs-skills {
        display: contents;
        gap: 16px;
    }

    .cs-img {
        width: 100%;
        height: 200px;
        margin-right: 0px;
        margin-bottom: 16px;
    }

}